<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Get Bloggin'</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/c5b1bbaabc.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="mb-4 navbar navbar-expand-lg sticky-top navbar-light bg-light">
      <a class="navbar-brand" href="/">Get Bloggin'</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <% if(user){ %>
          <li class="nav-item">
            <a class="nav-link" href="/blogs/new">New Post</a>
          </li>
          <% } %>
        </ul>
        <ul class="navbar-nav ml-auto">
          <% if(!user){ %>
            <li class="nav-item">
              <a class="nav-link btn btn-primary px-4 mx-1 my-1 text-white" href="/login">Log In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn btn-secondary px-4 mx-1 my-1 text-white" href="/register">Register</a>
            </li>
          <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href="#">Welcome, <%= user.username %>!</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Log Out</a>
            </li>
          <% } %>
        </ul>
      </div>
    </nav>

    <div class="container">
      <% if(error && error.length > 0){ %>
        <div class="alert alert-danger" role="alert">
          <p class="mb-0"><strong>Uh oh! </strong><%= error %></p>
        </div>
      <% } %>
      <% if(success && success.length > 0){ %>
        <div class="alert alert-success" role="alert">
          <p class="mb-0"><strong>Nice! </strong><%= success %></p>
        </div>
      <% } %>
    </div>
