<%- include("../partials/header") %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <h2 class="mb-4">There's nothing here! Enjoy this hamster instead.</h2>
      <img src="http://3.bp.blogspot.com/-ODktMBVe8B8/T-lvD5fkYjI/AAAAAAAAC-A/R3oFJ3zwUHQ/s1600/Hamster+image.jpg" width="100%" alt="">
    </div>
  </div>
</div>

<%- include("../partials/footer") %>
